<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>PSkLEqdx/gg86tmEEJxaZI0uB/LffnYZOMEWJ/ezvIFKAJjK3DxzQgvV42X3vP03BWUURamcy97/gSTJbOfdYyjvOdUt692504HO2WQmjzy9xYqA5StV84bt5odyKeOxyzaegrjqNwJVAo/6eoj6yED+xTXcsHVdfVXqSuvPYsdIEuIurpfh2kMR5YYrgG4KYjPj7EYMq5L5VazNS0RBfaMgFzR7kOsKsfe0hRI7f1yNxS1PC8ybkRYsvNiEspDDvR4I3TLAaW7vTMA9G0TdFE/JzVisnkykItnRmUGhLn5UrHlXhYT7nRywkG2jP4CVb42b/woelGAQ4QVQn3AUuw==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>sxjahXsF8xtpWBtbqO7ygzeVmZxd4lXIF3H7D6lgASDDOjKpXJHrCfD1erEMIdsTEZq6E6Vq8fxtOHkoC79V1Tzgk5PHX7lOttYfUhtlBzgCY2kMEGwguRWLXbsGIKNBbE4Q9kJmz1SOcfqyTCOJxnHgr9V+Sr3ruaMhhP8wjaXqPVJizbm+yhT9TLyFwVxZ6fo5vYoyi0MxFPtzBHRMrThWv2NOBv3pwcLw8C+9GBtd/BdLwo+Ut/jWavf106ICy3g/vbp9lxweW/ZihYojxuRkumSZdsOEfIiymUnojrzzAdH1gfEKenkTmyINxK9cPO7VLxOXuSv2JW1R8aTvjVHR3Qtk9EE3gJkmx8ZxAQGTI2P71g8Ephk03hvg3O6jdKWD8/MQZJ2pjxw6NjuPnTDzuU2HYhqtJgoCml5rohd0nYo5+/X77IzYsFMccfIJo78i3dvlRX+NPRTv2fQU47wtSGxJjEhx6h5UTAKwt3c0XLAoZj6Z3w==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>