<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="cnCatalogo" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Catalogo;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="cnCatalogo" connectionString="Server=tcp:ihc-2018-2.database.windows.net,1433;Initial Catalog=Catalogo;Persist Security Info=False;User ID=trabalho1;Password=tr@balho1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->

    <add name="cnCatalogo" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|Catalogo.mdf;Initial Catalog=Catalogo;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>